SNOWFLAKE_ACCOUNT=cec86794.us-east-1
SNOWFLAKE_USER=
SNOWFLAKE_PASSWORD=
SNOWFLAKE_ROLE=ACCOUNTADMIN
SNOWFLAKE_DATABASE=junior_data_analyst
SNOWFLAKE_WAREHOUSE=junior_data_analyst_wh
SNOWFLAKE_SCHEMA=raw
FIRECRAWL_API_KEY=
