SNOWFLAKE_ACCOUNT = ""
SNOWFLAKE_USER = ""
SNOWFLAKE_PASSWORD = ""
SNOWFLAKE_ROLE = "ACCOUNTADMIN"
SNOWFLAKE_DATABASE = "junior_data_analyst"
SNOWFLAKE_WAREHOUSE = "junior_data_analyst_wh"
SNOWFLAKE_SCHEMA = "raw"
ANTHROPIC_API_KEY = ""
